
	body {
margin: 0px;
}
  /* header*/
header{
	position: relative;
   
    height: 70px;
    
    /* z-index: 0; */
    width: 100%;
}

.headermain{
	height: 43vh;
    width: 100%;
  

}

#ex1Slider .slider-selection {
	background: #BABABA;
}
.indexmeny
{
    float: right;
    position: relative;
 
    width: 30%;
    height: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
   
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


	/* header end*/
	
	
	
.flex-container {
    width: 100%;
    height: 100%;
}
	/* main*/
main{
	   
    background-color: white;
	padding-bottom:150px;
	
}

.mainform{
	margin-top: 100px;
	    width: 40%;

    height: 100%;
    float: center;
    float: center;
    min-width: 400px;
    margin: auto;
	/* tabort om icon läggs till*/
	
}
.regform{
	
	height: 78%;
}

.circle {

	border-radius: 50%;
width: 200px;
height: 200px;
background-color: orange;
margin: auto;
border: white;
border-style: 1;
border: 20px;
border-color: white;
border-width: 5px;
border-style: solid;
	/* width and height can be anything, as long as they're equal */
}

.circlespace{
	bottom: 100px;
position: relative;
height: 180px;

}
 
 input[type=range] {
    padding: 0; margin: 0;
    background: transparent;
    box-sizing: border-box;
    vertical-align: top;
    -webkit-appearance: none;
    width: 300px;
  
    background-image: linear-gradient(to right, #00fd28, #e2ff2a, red);
    border-radius: 30px;
    box-shadow: inset 0px 3px 6px 1px rgba(0,0,0,0.25);
    color: transparent;
    height: 5px;
}

::-moz-focus-inner {outline:0;}
:focus {outline:0;}

output{
	 display: inline-block;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: white;
	border-style:solid;
	border-width: 1px;
	border-color: grey;}
	
	.image{
    width:120px;
    height:120px;
	  border-radius: 50%;
	  border-style:solid;
	  border-width:5px;
	  border-color:orange;
	  
}
	
.prisform{
	margin-bottom:25px; 
	
}
.priscont{
	 display: inline-block;
	
	padding-left:5px;
} 

.priscont2{
	 display: inline-block;
	 width:70px;
	
	
}
.priscontslider{
	 display: inline-block;
	padding-left:25px;
	
	
}
.priscontinfo{
padding-left: 45px;
 display: inline-block;
	
	
}

	.infoimg{
    width:20px;
    height:20px;
	
	  
}

.profilbild
{
	display: inline-block;
}
.profilvalj{
	display: inline-block;
	padding-left:50px;
}

.custom-file-input {
  visibility: hidden;
  width: 0;
  position: relative;
}
.custom-file-input::before {
  content: 'Bläddra...';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


	
	/* main end*/

	
	/* bakrounds bild*/
img.bg {
	z-index:-1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
 /* footer*/
footer{

    color: white;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: rgba(128, 128, 128, 1);

	}

 /* footer end*/
